
@import "mixins";
@import "header";
@import "btns";
@import "main";
@import "section-3";
@import "section-4";
@import "section-5";
@import "map_side";
@import "section-6";
@import "position";
@import "footer";
.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}